<head>
    <meta charset="utf-8">
    <meta name="viewport"m content="width=device-width, initial-scale=1.0">
    <title>R0B0 OLX</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>