                    <div class="modal">
<div class="modal-content">
    <form id="add-ad-form" action="/add-product" method="POST">
        <button class="close">X</button>
        <h2>Add AD</h2>
        <label for="title">Title</label>
        <input type="text" name="title" required>
        <label for="description">Description</label>
        <textarea type="text" name="description" required></textarea>
        <input type="file" name="image" id="image" multiple required accept="image/*">
        <label for="image" class="image-label">Upload image</label>
        <button type="submit">Add</button>
    </form>
</div>
</div>